.review {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.buttonsContainers {
    display: inline-flex;
    justify-content: space-between;
    width: 20%;
}

.modalReviewButton {
    background-color: var(--light-green);
    border-color: var(--light-green);
}

.modalReviewButton:hover {
    background-color: var(--dark-green);
    border-color: var(--dark-green);
}

.modalReviewBackButton {
    background-color: var(--red);
    border-color: var(--red);
}

.modalReviewBackButton:hover {
    background-color: var(--dark-red);
    border-color: var(--dark-red);
}