.divcolor {
  border-color: var(--light-green);
  border-style: solid;
  border-top-style: none;
  margin-top: 0;
}

.title {
  background-image: linear-gradient(var(--yellow) 0%,
      var(--yellow) 25%,
      var(--red) 25%,
      var(--red) 50%,
      var(--pale-green) 50%,
      var(--pale-green) 75%,
      var(--bluette) 75%,
      var(--bluette) 100%);
  margin-bottom: 0;
  text-align: center;
  font-size: larger;
  color: var(--background-white);
}

.achievementColumn {
  display: inline-flex;
}