.icon {
  text-align: center;
}

.modalIcon {
  text-align: center;
}

.modalDescription {
  text-align: center;
  font-size: x-large;
  font-style: italic;
}

.name {
  text-align: center;
  font-size: medium;
}

.achievementModal {
  background-color: var(--background-white);
}

.modalBackButton {
  background-color: var(--red);
  border-color: var(--red);
}

.modalBackButton:hover {
  border-color: var(--red);
  background-color: var(--red);
}

.modalCompleteButton {
  border-color: var(--light-green);
  background-color: var(--light-green);
}

.modalCompleteButton:hover {
  border-color: var(--dark-green);
  background-color: var(--dark-green);
}

.itemList {
  width: 100%;
  height: 20em;
  overflow-y: scroll;
}

.achievementDiv:hover {
  background-color: var(--background-white);
  border-radius: 3px;
}