.addAchievementButton {
  background-color: var(--light-green);
  border-color: var(--dark-green);
  width: 100%;
}

.addAchievementButton:hover {
  background-color: var(--dark-green);
  border-color: var(--dark-green);
  width: 100%;
}