:root {
  --light-red: #ff3c41;
  --red: #e82a26;
  --dark-red: #c7211e;
  --pale-green: #93A649;
  --light-green: #8ac926;
  --dark-green: #6a9c24;
  --blue: #0070f3;
  --bluette: #7ecdda;
  --background-white: #f5f8e5;
  --background-dark-white: #c5c7b8;
  --yellow: #fdc727;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--background-white);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

#__next {
  background-color: var(--background-white);
}